:root {
  --primary: #ff5d8f;
  --secondary: #3d81b8;
  --bg: #f5f5f5;
}

body {
  background-color: var(--bg);
  font-family: "Nunito Sans", sans-serif;
}

main {
  margin: 50px auto 50px auto;
  max-width: 2000px;
}

.secondary {
  color: var(--secondary) !important;
}

.article-list {
  display: flex;
  justify-content: space-between;
}

.article-list:not(:first-of-type) {
  padding-top: 250px;
}

.article-teaser {
  max-width: 500px;
  padding: 15px;
}

.article-teaser__title {
  font-weight: 600;
}

.article-teaser__link {
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.article-teaser__link > i {
  display: block;
  visibility: hidden;
  max-width: 10px;
  transform: translateX(-40px);
  opacity: 0;
  transition: visibility 500ms, transform 350ms, opacity 500ms;
}

.article-teaser__link > span {
  margin-left: -10px;
  transition: transform 300ms;
}

.article-teaser__link:hover > i {
  visibility: visible;
  opacity: 1;
  transform: translateX(10px);
  transition: transform 350ms, opacity 500ms;
}

.article-teaser__link:hover > span {
  transform: translateX(40px);
}

.article-teaser__img {
  position: relative;
  width: 500px;
  height: 300px;
}

.article-teaser__img__shape {
  position: absolute;
  mix-blend-mode: multiply;
  z-index: 0;
  max-width: 100%;
  max-height: 100%;
  transform: translate(0px, 50px);
}

.article-teaser__img__twirl {
  position: absolute;
  z-index: 2;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(-50px);
}

.article-teaser__img__picture {
  position: absolute;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  left: 120px;
  transition: transform 250ms ease-out;
}

.article-teaser--hover:hover .article-teaser__img__picture {
  transform: translateY(-50px);
}

.article-teaser--hover:hover .article-teaser__link > i {
  visibility: visible;
  opacity: 1;
  transform: translateX(10px);
  transition: transform 350ms, opacity 500ms;
}

.article-teaser--hover:hover .article-teaser__link > span {
  transform: translateX(40px);
}

.btn {
  position: relative;
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: var(--bg);
  padding: 10px 30px 10px 30px;
  transition: transform 200ms, padding 200ms;
}

.btn:hover {
  transform: translate(2px, -2px);
  padding: 10px 45px 10px 15px;
}

.btn:before {
  content: "";
  position: absolute;
  visibility: hidden;
  border: 2px solid var(--primary);
  border-top: none;
  border-right: none;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: transparent;
  z-index: -1;

  transition: visibility 200ms, transform 250ms;
}

.btn:hover:before {
  visibility: visible;
  transform: translate(-5px, 5px);
}
